<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>DevOpsUsach Grupo 1</title>
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}" />
</head>
<body>
<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top py-4">
    <div class="container">
        <a class="navbar-brand" href="/">DevOpsUsach Grupo 1</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
               
            </ul>
        </div>
    </div>
</nav>


	<div class="flex-container">
		<div>
		    <div><span class="title">Calcular su 10%</span></div>
			<div></div>
			<div>
				<div class="container text-center" style="margin-top:1%">
					<span style="color:white">Ingrese su saldo ahorrado</span>
				</div>
				<div class="container text-center" style="margin-top:1%">
					<input type="number" name="saldo" id="saldo" required></input>
				</div>
				<div class="container text-center" style="margin-top:10%">
					<span  style="color:white">Ingrese su sueldo</span>
				</div>
				<div class="container text-center" style="margin-top:1%">
					<input type="number" name="sueldo" id="sueldo" required></input>
				</div>
				<div class="container text-center" style="margin-top:10%">
						<input type="button" id="calcular" value="Calcular" class="btn-continue" name="calcular" />
				</div>
			</div>
		</div>
	</div>
	<div class="flex-container">
		<div id="resultSuccess" style="display:none; margin-bottom:20%">
			<div class="container text-center">
				<span style="color:white;font-size:20px">Su 10% es: $</span><span style="color:white;font-size:20px" id=diezPorCiento ></span>
			</div>
			<div class="container text-center" style="margin-top:1%;">
				<span style="color:white;font-size:20px">Su saldo restante: $</span><span style="color:white;font-size:20px" id="saldoResultante" ></span>
			</div>
			<div class="container text-center" style="margin-top:1%;">
				<span style="color:white;font-size:20px">El impuesto a pagar es: $</span><span style="color:white;font-size:20px" id="impuestoResultante" ></span>
			</div>
		</div>
		<div id="resultError" style="display:none">
			<div class="container text-center">
				<span style="color:white;font-size:20px">Existe un error al procesar: </span><span style="color:white;font-size:20px" id="error" ></span>
			</div>
		</div>
	</div>
<footer class="ft-abs py-4 bg-dark text-white-50">
    <div class="container text-center">
    </div>
</footer>

<script th:src="@{/webjars/jquery/3.0.0/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/1.12.9-1/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/4.0.0-2/js/bootstrap.min.js}"></script>
<script>
$(document).ready( function () {
	$("#calcular").click(function(){
			var saldo = $("#saldo").val();
			var sueldo = $("#sueldo").val();
			$.ajax({
				 type: "POST",
			     url: "calculateTenPercent",
			     data:{"saldo":saldo, "sueldo":sueldo},
			     dataType: 'json',
			     cache:false,
			     success: function( response ) {
			     	if(response.hasError == "true"){
			     		$("#resultSuccess").hide();
			     		$("#resultError").show();
			     		$("#error").html(response.msgError);
			     	}else{
			     		// Create our number formatter.
			     		var formatter = new Intl.NumberFormat('es-ES', {
			     		  style: 'currency',
			     		  currency: 'CLP',
			     		  // These options are needed to round to whole numbers if that's what you want.
			     		  //minimumFractionDigits: 0, // (this suffices for whole numbers, but will print 2500.10 as $2,500.1)
			     		  //maximumFractionDigits: 0, // (causes 2500.99 to be printed as $2,501)
			     		});
			     		$("#resultError").hide();
			     		$("#resultSuccess").show();
			     		$("#diezPorCiento").html(formatter.format(response.tenPercent));
			     		$("#saldoResultante").html(formatter.format(response.balance));
			     		$("#impuestoResultante").html(formatter.format(response.tax));
			     	}		    	
			     }, error: function (xhr, ajaxOptions, thrownError) {
			    	 $("#resultError").show();
			    	 $("#error").html(thrownError);
			      }
			});
		});
	});
</script>
</body>
</html>